<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href='{{url_for("static",filename="css/style.css")}}'>
    <title>show a park</title>
</head>
<body>
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
            {% endwith %}
            <nav class=" container navbar navbar-light bg-secondary">
            <a href="/dashboard" class="text-white">dashboard</a>
            <a href="/logout" class="text-white">Logout</a>
            </nav>
            <div class="container bg-info text-white">
            <h1>welcome {{user.first_name}} to {{park.name}} park:</h1>
            <p>name: {{park.name}}</p>
            <p>Location: {{park.location}}</p>
            <p>Contact: {{park.contact}}</p>
            <p>Description: {{park.description}}</p>
            <p>post by: {{user.first_name}} {{user.last_name}}</p>
            <h3>Users who favorited this park</h3>
            {% for user_who_favorited in park.users_who_favorited %}
            <p>{{user_who_favorited.first_name}} {{user_who_favorited.last_name}}</p>
            {% endfor %}
            <a href="/dashboard" class=" btn btn-primary rounded-circle ">go back</a>
            
    </div>
</body>
</html>
